# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test Suite

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12"]
        working-directory:
          - "./adsdatahub"
          - "./adsdatahub-cli"
    defaults:
      run:
        working-directory: ${{ matrix.working-directory }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - name: uv Version
        run: |
          uv --version
      - name: Install Dependencies
        run: |
          uv sync --frozen
      - name: Format
        run: |
          uv run task format --diff
      - name: Lint
        run: |
          uv run task lint --diff
      - name: Type Check
        run: |
          uv run task typecheck
      - name: Test
        run: |
          uv run task test
